@import "templateProjectPageHeader";
html{
    background-color: $HEATWAVE;
    font-family: $fontBody;
    font-size: $embase;
}
body{
    font-size: 1.4em;
    margin: 0;
}
#colorDisplay{
    font-family: $fontBody;
    font-size: 2.5em;
}
#stripe{
    background-color: $NIGHTFALL;
    height: 30px;
    text-align: center;
    font-family: $fontBody;
}
.square{
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.5s;
}
#squareContainer{
    max-width: 600px;
    margin: 20px auto;
}
.mainContent h1{
    color: white;
    text-align: center;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}
span{
    color: white;
}
#message{
    color: $TROPICALPINK;
    display: inline-block;
    width: 20%;
}
.selected{
    color: white;
    background-color: $TROPICALPINK;
}
button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: $TROPICALPINK;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
    font-family: $fontBody;
}
button:hover{
    color: white;
    background-color: $TROPICALPINK;
}